{% extends "main_template.html" %}
{% block content %}

<title> Consolas | Freak Zone Store </title>
<div class="container" style="margin-top: 20px">
    <div class="row">

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img src="../../img/console/switchfront.jpg" alt="nintendo switch" class ="imagenresp" style="width: 100%;"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Consola Nintendo Switch 32GB</a>
                  </h4>
                  <h5>$299.990</h5>
                  <p class="card-text"></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img src="../../img/console/ps4profront.jpg" alt="playstation 4 pro" class="imagenresp" style="width: 100%;"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Consola PlayStation 4 Pro 1TB</a>
                  </h4>
                  <h5>$449.990</h5>
                  <p class="card-text"></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img src="../../img/console/xbonexfront.jpg" alt="xbox one x" class="imagenresp" style="width: 100%;"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Consola Xbox One X 1TB</a>
                  </h4>
                  <h5>$449.990</h5>
                  <p class="card-text"></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img src="../../img/console/2dsfront.jpg" alt="nintendo 2ds" class="imagenresp" style="width: 100%;"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Consola Nintendo 2DS XL</a>
                  </h4>
                  <h5>$179.990</h5>
                  <p class="card-text"></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>
  
          </div>
          <!-- /.row -->
    </div>
    {% endblock %}