{% extends "main_template.html" %}
{% block content %}

<title>Figuras | Freak Zone Store</title>

<div class="container" style="margin-top: 20px">
    <div class="row">

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#">{% load static %}<img src="{% static 'img/figure/cmarfunkfront.png' %}" alt="Figura POP Marvel: CM - Captain Marvel - Flying (GL) Exclusivo Freak Zone"  class ="imagenresp" style="width: 100%;"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Figura POP Marvel: CM - Captain Marvel - Flying (GL) Exclusivo Freak Zone</a>
                  </h4>
                  <h6>Funko Pop Marvel</h6>
                  <h5>$14.990</h5>
                  <p class="card-text"></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a href="#"><img src="../../img/figure/sdgunifront.png" alt="NXEDGE STYLE UNICORN GUNDAM DESTROY MODE"  class ="imagenresp" style="width: 100%;"></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="#">NXEDGE STYLE UNICORN GUNDAM DESTROY MODE</a>
                    </h4>
                    <h6>Tamashii Nations</h6>
                    <h5>$16.990</h5>
                    <p class="card-text"></p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                  </div>
                </div>
              </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a href="#"><img src="../../img/figure/naltfront.jpg" alt="Figura Naruto Grandista Shinobi Relations - Uzumaki Naruto" class ="imagenresp" style="width: 100%;"></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="#">Figura Naruto Grandista Shinobi Relations - Uzumaki Naruto</a>
                    </h4>
                    <h6>Banpresto</h6>
                    <h5>$18.990</h5>
                    <p class="card-text"></p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 mb-4">
                  <div class="card h-100">
                    <a href="#"><img src="../../img/figure/emoqlfront.png" alt="Figura Naruto Grandista Shinobi Relations - Uchiha Sasuke" class ="imagenresp" style="width: 100%;"></a>
                    <div class="card-body">
                      <h4 class="card-title">
                        <a href="#">Figura Naruto Grandista Shinobi Relations - Uchiha Sasuke</a>
                      </h4>
                      <h6>Banpresto</h6>
                      <h5>$21.990</h5>
                      <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                  </div>
                </div>
  
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img src="../../img/figure/sonicfront.jpg" alt="Figuras Sonic Classic 3 Pack 2 And Comic Ass" class="imagenresp" style="width: 100%;"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Figuras Sonic Classic 3" Pack 2 And Comic Ass</a>
                  </h4>
                  <h6>Tomy</h6>
                  <h5>$12.990</h5>
                  <p class="card-text"></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img src="../../img/figure/makifront.png" alt="Love Live!: School Idol Project Nishikino Maki" class="imagenresp" style="width: 100%;"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Love Live!: School Idol Project Nishikino Maki </a>
                  </h4>
                  <h6>Alter</h6>
                  <h5>$20.990</h5>
                  <p class="card-text"></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img src="../../img/figure/umifront.png" alt="Love Live!: School Idol Project Sonoda Umi Chibi" class="imagenresp" style="width: 100%;"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Love Live!: School Idol Project Sonoda Umi Chibi</a>
                  </h4>
                  <h6>Lelakaya</h6>
                  <h5>$11.990</h5>
                  <p class="card-text"></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img src="../../img/figure/nendorockmanfront.png" alt="Nendroid Megaman" class="imagenresp" style="width: 100%;"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Nendroid Megaman</a>
                  </h4>
                  <h6>Goodsmile</h6>
                  <h5>$33.990</h5>
                  <p class="card-text"></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img src="../../img/figure/sailorfront.jpg" alt="Sailor Moon Cosmic Heart Cafe Ochatomo Series" class="imagenresp" style="width: 100%;"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Sailor Moon Cosmic Heart Cafe Ochatomo Series</a>
                  </h4>
                  <h6>Megahouse</h6>
                  <h5>$4.990</h5>
                  <p class="card-text"></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a href="#"><img src="../../img/figure/rockmanxfront.png" alt="Megaman X 1/12 Plastic Model Kit: Max Armor" class="imagenresp" style="width: 100%;"></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="#">Megaman X 1/12 Plastic Model Kit: Max Armor</a>
                    </h4>
                    <h6>Kotobukiya</h6>
                    <h5>$47.990</h5>
                    <p class="card-text"></p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 mb-4">
                  <div class="card h-100">
                    <a href="#"><img src="../../img/figure/evarevolfront.png" alt="Neon Genesis Evangelion: Evangelion Eva - 01 TV VER. (RE-RUN)" class="imagenresp" style="width: 100%;"></a>
                    <div class="card-body">
                      <h4 class="card-title">
                        <a href="#">Neon Genesis Evangelion: Evangelion Eva - 01 TV VER. (RE-RUN)</a>
                      </h4>
                      <h6>Kotobukiya</h6>
                      <h5>$41.990</h5>
                      <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                      <a href="#"><img src="../../img/figure/mikufront.png" alt="Figma Hatsune Miku: Exclusivo Freak Zone" class="imagenresp" style="width: 100%;"></a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <a href="#">Figma Hatsune Miku: Exclusivo Freak Zone</a>
                        </h4>
                        <h6>Figma</h6>
                        <h5>$40.990</h5>
                        <p class="card-text"></p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-6 mb-4">
                      <div class="card h-100">
                        <a href="#"><img src="../../img/figure/zennyfront.png" alt="Pop - Sale Figura Pop Games: Overwatch S3 - Zenyatta" class="imagenresp" style="width: 100%;"></a>
                        <div class="card-body">
                          <h4 class="card-title">
                            <a href="#">Pop - Sale Figura Pop Games: Overwatch S3 - Zenyatta</a>
                          </h4>
                          <h6>Funko Pop Games</h6>
                          <h5>$5.990</h5>
                          <p class="card-text"></p>
                        </div>
                        <div class="card-footer">
                          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                          <a href="#"><img src="../../img/figure/funkomercy.png" alt="Figura Pop Games: Overwatch S3 - Mercy" class="imagenresp" style="width: 100%;"></a>
                          <div class="card-body">
                            <h4 class="card-title">
                              <a href="#">Figura Pop Games: Overwatch S3 - Mercy</a>
                            </h4>
                            <h6>Funko Pop Games</h6>
                            <h5>$9.990</h5>
                            <p class="card-text"></p>
                          </div>
                          <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 mb-4">
                          <div class="card h-100">
                            <a href="#"><img src="../../img/figure/anafunkfront.png" alt="Pop - Sale Figura Pop Games: Overwatch S4 - Ana" class="imagenresp" style="width: 100%;"></a>
                            <div class="card-body">
                              <h4 class="card-title">
                                <a href="#">Pop - Sale Figura Pop Games: Overwatch S4 - Ana</a>
                              </h4>
                              <h6>Funko Pop Games</h6>
                              <h5>$5.990</h5>
                              <p class="card-text"></p>
                            </div>
                            <div class="card-footer">
                              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                          </div>
                        </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img src="../../img/figure/larafront.png" alt="Pop - Sale Figura Pop Games: Tomb Raider - Lara Croft" class="imagenresp" style="width: 100%;"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Pop - Sale Figura Pop Games: Tomb Raider - Lara Croft</a>
                  </h4>
                  <h6>Funko Pop Games</h6>
                  <h5>$5.990</h5>
                  <p class="card-text"></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img src="../../img/figure/jokahfront.png" alt="Figura Pop Games: Persona 5 The Joker W/ Chase" class="imagenresp" style="width: 100%;"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Figura Pop Games: Persona 5 The Joker W/ Chase</a>
                  </h4>
                  <h6>Funko Pop Games</h6>
                  <h5>$9.990</h5>
                  <p class="card-text"></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img src="../../img/figure/pokefront.jpg" alt="Figura Multi Pack Pokemon XXL" class="imagenresp" style="width: 100%;"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Figura Multi Pack Pokemon XXL</a>
                  </h4>
                  <h6>Tomy</h6>
                  <h5>$29.990</h5>
                  <p class="card-text"></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>
  
          </div>
          <!-- /.row -->
    </div>
    {% endblock %}