{% extends "main_template.html " %}
{% block content %}

<div class="container" style="margin-top: 20px">
    <div class="row">

<title>Trading Card Game | Freak Zone Store</title>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img src="../../img/tcg/mtg/mg1front.png" alt="magicIxalan"  class ="imagenresp" style="width: 100%;"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Mazo Ixalan Ingles Magic The Gathering</a>
                </h4>
                <h6>Magic</h6>
                <h5>$9.990</h5>
                <p class="card-text"></p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img src="../../img/tcg/mtg/mg2front.png" alt="magicBundleIxalan" class ="imagenresp" style="width: 100%;"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Bundle Ixalan Ingles Magic The Gathering</a>
                  </h4>
                  <h6>Magic</h6>
                  <h5>$29.990</h5>
                  <p class="card-text"></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>

          <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img src="../../img/tcg/mtg/mg3front.png" alt="magicAmon" class ="imagenresp" style="width: 100%;"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Mazo Planeswalker de Amonkhet (X6) Magic The Gathering</a>
                  </h4>
                  <h6>Magic</h6>
                  <h5>$9.990</h5>
                  <p class="card-text"></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a href="#"><img src="../../img/tcg/mtg/mg4front.png" alt="magicDevastation" class ="imagenresp" style="width: 100%;"></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="#">Bundle Hour of the Devastation Magic The Gathering</a>
                    </h4>
                    <h6>Magic</h6>
                    <h5>$24.990</h5>
                    <p class="card-text"></p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                  </div>
                </div>
              </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img src="../../img/tcg/mtg/mg5front.png" alt="magicBoostAmon" class="imagenresp" style="width: 100%;"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Sobre Amonkhet Español Magic The Gathering</a>
                </h4>
                <h6>Magic</h6>
                <h5>$2490</h5>
                <p class="card-text"></p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img src="../../img/tcg/mtg/mg6front.png" alt="MagicBoostIxalan" class="imagenresp" style="width: 100%;"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Sobre Ixalan Ingles Magic The Gathering</a>
                </h4>
                <h6>Magic</h6>
                <h5>$2490</h5>
                <p class="card-text"></p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img src="../../img/tcg/pkm/pkm1front.png" alt="PKMBunlde" class="imagenresp" style="width: 100%;"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Pokemon Sun and Moon 3 Burning Shadows Collector Album + 1 Booster Pokemon TCG</a>
                </h4>
                <h6>Cartas Pokemon</h6>
                <h5>$2.990</h5>
                <p class="card-text"></p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img src="../../img/tcg/pkm/pkm2front.png" alt="PKMEvolutionDeck" class="imagenresp" style="width: 100%;"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Mazo Evolution (Inglés) Pokemon TCG</a>
                </h4>
                <h6>Cartas Pokemon</h6>
                <h5>$2.490</h5>
                <p class="card-text"></p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img src="../../img/tcg/pkm/pkm3front.png" alt="PKMGiratina" class="imagenresp" style="width: 100%;"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Pokemon TCG Giratina 3 Boosters Blister</a>
                </h4>
                <h6>Cartas Pokemon</h6>
                <h5>$1.490</h5>
                <p class="card-text"></p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img src="../../img/tcg/pkm/pkm4front.png" alt="PKMBreakpoint" class="imagenresp" style="width: 100%;"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Mazo Breakpoint (Inglés) Pokemon TCG (PX8)</a>
                  </h4>
                  <h6>Cartas Pokemon</h6>
                  <h5>$2.490</h5>
                  <p class="card-text"></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a href="#"><img src="../../img/tcg/pkm/pkm5front.png" alt="PKMAlola" class="imagenresp" style="width: 100%;"></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="#">Marowak de Alola GX Box Pokemon</a>
                    </h4>
                    <h6>Cartas Pokemon</h6>
                    <h5>$15.990</h5>
                    <p class="card-text"></p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 mb-4">
                  <div class="card h-100">
                    <a href="#"><img src="../../img/tcg/pkm/pkm6front.png" alt="PKMBlastoise" class="imagenresp" style="width: 100%;"></a>
                    <div class="card-body">
                      <h4 class="card-title">
                        <a href="#">Coleccion Premium Blastoise - GX Pokemon</a>
                      </h4>
                      <h6>Cartas Pokemon</h6>
                      <h5>$32.990</h5>
                      <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                      <a href="#"><img src="../../img/tcg/ygo/ygo1front.png" alt="YGOSpell" class="imagenresp" style="width: 100%;"></a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <a href="#">Yu-Gi-Oh! Order of the Spellcasters Structure Deck</a>
                        </h4>
                        <h6>Yu-Gi-Oh</h6>
                        <h5>$7.990</h5>
                        <p class="card-text"></p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-6 mb-4">
                      <div class="card h-100">
                        <a href="#"><img src="../../img/tcg/ygo/ygo2front.png" alt="YGOEXDeck" class="imagenresp" style="width: 100%;"></a>
                        <div class="card-body">
                          <h4 class="card-title">
                            <a href="#">Yu-Gi-Oh! Mazo Extreme Force Special Edition</a>
                          </h4>
                          <h6>Yu-Gi-Oh</h6>
                          <h5>$7.990</h5>
                          <p class="card-text"></p>
                        </div>
                        <div class="card-footer">
                          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                          <a href="#"><img src="../../img/tcg/ygo/ygo3front.png" alt="YGORevolt" class="imagenresp" style="width: 100%;"></a>
                          <div class="card-body">
                            <h4 class="card-title">
                              <a href="#">Yu-Gi-Oh! Mazo Structure Deck Rokket Revolt</a>
                            </h4>
                            <h6>Yu-Gi-Oh</h6>
                            <h5>$7.990</h5>
                            <p class="card-text"></p>
                          </div>
                          <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                          </div>
                        </div>
                      </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img src="../../img/tcg/ygo/ygo4front.png" alt="YGORevenge" class="imagenresp" style="width: 100%;"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Yu-Gi-Oh! Battles Of Legend Relentless Revenge Booster</a>
                </h4>
                <h6>Yu-Gi-Oh</h6>
                <h5>$2.490</h5>
                <p class="card-text"></p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img src="../../img/tcg/ygo/ygo5front.png" alt="YGOKaiba" class="imagenresp" style="width: 100%;"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Yu-Gi-Oh! Legendary Duelists White Dragon Abyss Booster</a>
                </h4>
                <h6>Yu-Gi-Oh</h6>
                <h5>$1.290</h5>
                <p class="card-text"></p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img src="../../img/tcg/ygo/ygo6front.png" alt="YGOValhalla" class="imagenresp" style="width: 100%;"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Yu-Gi-Oh! Sobre Sombras en Valhalla</a>
                </h4>
                <h6>Yu-Gi-Oh</h6>
                <h5>$2.490</h5>
                <p class="card-text"></p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

        </div>
      </div>
      {% endblock %}