{% extends "main_template.html" %}
{% block content %}

<title>Videojuegos | Freak Zone Store</title>

<div class="container" style="margin-top: 20px">
    <div class="row">

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="../../product/game/nsw/ys8sw.html"><img src="../../img/game/ys8/ys8frontnsw.png" alt="YS8SW" class ="imagenresp" style="width: 100%;"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="../../product/game/nsw/ys8sw.html">YS VIII: Lacrimosa of Dana</a>
                  </h4>
                  <h6>Nintendo Switch</h6>
                  <h5>$47.800</h5>
                  <p class="card-text"></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a href="../../product/game/nsw/vc4nsw.html"><img src="../../img/game/valk/valk4nswfront.png" alt="Valk4SW" class ="imagenresp" style="width: 100%;"></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="../../product/game/nsw/vc4nsw.html">Valkyria Chronicles 4</a>
                    </h4>
                    <h6>Nintendo Switch</h6>
                    <h5>$45.900</h5>
                    <p class="card-text"></p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                  </div>
                </div>
              </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a href="#"><img src="../../img/game/botw/zeldafront.png" alt="BotWSW" class ="imagenresp" style="width: 100%;"></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="#">The Legend of Zelda: Breath of The Wild</a>
                    </h4>
                    <h6>Nintendo Switch</h6>
                    <h5>$49.990</h5>
                    <p class="card-text"></p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 mb-4">
                  <div class="card h-100">
                    <a href="#"><img src="../../img/game/ultimate/ultifront.png" alt="SSBU" class ="imagenresp" style="width: 100%;"></a>
                    <div class="card-body">
                      <h4 class="card-title">
                        <a href="#">Super Smash Bros. Ultimate</a>
                      </h4>
                      <h6>Nintendo Switch</h6>
                      <h5>$49.990</h5>
                      <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                  </div>
                </div>
  
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="../../product/game/nsw/kirbysa.html"><img src="../../img/game/kirby/kirbsanswfront.png" alt="KirbSW" class="imagenresp" style="width: 100%;"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="../../product/game/nsw/kirbysa.html">Kirby Star Allies</a>
                  </h4>
                  <h6>Nintendo Switch</h6>
                  <h5>$49.990</h5>
                  <p class="card-text"></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="../../product/game/nsw/zeldalaw.html"><img src="../../img/game/zeldala/zeldalawfront.png" alt="LinkSW" class="imagenresp" style="width: 100%;"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="../../product/game/nsw/zeldalaw.html">The Legend Of Zelda: Link´s Awakening [PREVENTA]</a>
                  </h4>
                  <h6>Nintendo Switch</h6>
                  <h5>$59.990</h5>
                  <p class="card-text"></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="../../product/game/ps4/p5ps4.html"><img src="../../img/game/p5/p5frontps4.png" alt="p5ps4" class="imagenresp" style="width: 100%;"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="../../product/game/ps4/p5ps4.html">Persona 5</a>
                  </h4>
                  <h6>PlayStation 4</h6>
                  <h5>$22.990</h5>
                  <p class="card-text"></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="../../product/game/ps4/rdr2ps4.html"><img src="../../img/game/rdr2/rdrps4front.png" alt="Rdr2PS4" class="imagenresp" style="width: 100%;"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="../../product/game/ps4/rdr2ps4.html">Red Dead Redemption 2</a>
                  </h4>
                  <h6>PlayStation 4</h6>
                  <h5>$34.990</h5>
                  <p class="card-text"></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="../../product/game/ps4/dstr.html"><img src="../../img/game/deathstr/dstrandfront.png" alt="DeathStrPS4" class="imagenresp" style="width: 100%;"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="../../product/game/ps4/dstr.html">Death Stranding<br>[PREVENTA]</a>
                  </h4>
                  <h6>PlayStation 4</h6>
                  <h5>$44.990</h5>
                  <p class="card-text"></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                  <a href="../../product/game/ps4/sotrps4.html"><img src="../../img/game/sotr/sotrps4.png" alt="SotRPS4" class="imagenresp" style="width: 100%;"></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="../../product/game/ps4/sotrps4.html">Shadow of the Tomb Raider</a>
                    </h4>
                    <h6>PlayStation 4</h6>
                    <h5>$44.990</h5>
                    <p class="card-text"></p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 mb-4">
                  <div class="card h-100">
                    <a href="#"><img src="../../img/game/jedi/jedifallps4.png" class="imagenresp" alt="JediPS4" style="width: 100%;"></a>
                    <div class="card-body">
                      <h4 class="card-title">
                        <a href="#">Star Wars Jedi: Fallen Order<br>[PREVENTA]</a>
                      </h4>
                      <h6>PlayStation 4</h6>
                      <h5>$44.990</h5>
                      <p class="card-text"></p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                      <a href="#"><img src="../../img/game/gtav/gtavps4front.png" class="imagenresp" alt="GTAVPS4" style="width: 100%;"></a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <a href="#">Grand Theft Auto V Premium Edition</a>
                        </h4>
                        <h6>PlayStation 4</h6>
                        <h5>$44.990</h5>
                        <p class="card-text"></p>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-4 col-md-6 mb-4">
                      <div class="card h-100">
                        <a href="../../product/game/xbo/gears5.html"><img src="../../img/game/gears5/gears5front.png" alt="gears5XBO" class="imagenresp" style="width: 100%;"></a>
                        <div class="card-body">
                          <h4 class="card-title">
                            <a href="../../product/game/xbo/gears5.html">Gears 5</a>
                          </h4>
                          <h6>Xbox One</h6>
                          <h5>$44.990</h5>
                          <p class="card-text"></p>
                        </div>
                        <div class="card-footer">
                          <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                          <a href="#"><img src="../../img/game/mine/minefront.png" class="imagenresp" alt="MinecraftXBO" style="width: 100%;"></a>
                          <div class="card-body">
                            <h4 class="card-title">
                              <a href="#">Minecraft Xbox One Edition</a>
                            </h4>
                            <h6>Xbox One</h6>
                            <h5>$17.990</h5>
                            <p class="card-text"></p>
                          </div>
                          <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-4 col-md-6 mb-4">
                          <div class="card h-100">
                            <a href="../../product/game/xbo/rdr2xbo.html"><img src="../../img/game/rdr2/rdrxbofront.png" alt="Rdr2XBO" class="imagenresp" style="width: 100%;"></a>
                            <div class="card-body">
                              <h4 class="card-title">
                                <a href="../../product/game/xbo/rdr2xbo.html">Red Dead Redemption 2</a>
                              </h4>
                              <h6>Xbox One</h6>
                              <h5>$29.990</h5>
                              <p class="card-text"></p>
                            </div>
                            <div class="card-footer">
                              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                            </div>
                          </div>
                        </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="../../product/game/xbo/sotrxbo.html"><img src="../../img/game/sotr/sotrxbo.png" alt="SotRXBO" class="imagenresp" style="width: 100%;"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="../../product/game/xbo/sotrxbo.html">Shadow of the Tomb Raider</a>
                  </h4>
                  <h6>Xbox One</h6>
                  <h5>$19.990</h5>
                  <p class="card-text"></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img src="../../img/game/jedi/jedifallxbo.png" class="imagenresp" alt="JediXBO" style="width: 100%;"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Star Wars Jedi: Fallen Order<br>[PREVENTA]</a>
                  </h4>
                  <h6>Xbox One</h6>
                  <h5>$44.990</h5>
                  <p class="card-text"></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                <a href="#"><img src="../../img/game/gtav/gtavxbofront.png" class="imagenresp" alt="GTAVXBO" style="width: 100%;"></a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#">Grand Theft Auto V Premium Edition</a>
                  </h4>
                  <h6>Xbox One</h6>
                  <h5>$18.990</h5>
                  <p class="card-text"></p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
              </div>
            </div>
  
          </div>
          <!-- /.row -->
    </div>
    {% endblock %}